.jumbotron {
    background-image: url("https://cdn4.vectorstock.com/i/1000x1000/30/18/delicious-hamburger-fast-food-meal-background-vector-14993018.jpg");
}

h1,
h3 {
    color: darkgreen;
}

h2 {
    color: black;
    border-bottom: solid 5px darkgreen;
}

body {
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/31/81/seamless-pattern-of-burger-with-yellow-background-vector-22703181.jpg");
}

p {
    color: darkgreen;
}
